<h1>Instagram hashtag search app </h1>

<%= form_tag(search_hashtag_path) do %>
  <%= text_field_tag :search_term %>
  <%= submit_tag 'Search' %>
<% end %>

<h1>Hashtags</h1>
<%= link_to 'View read posts', view_read_path %>
<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @hashtag_posts.each do |post_id| %>
        <% post = HashtagService.get_post_with_hashtag(post_id) %>
        <div>
            <strong> <%= post["id"] %></strong>
            <strong> <%= post["message"] %></strong>
            <%= link_to 'Mark as read', mark_hashtag_path(hashtag) %>
        </div>
      <% end %>
     </tr>
  </tbody>
</table>
